{% _layout 'layout.liquid' %}

{% _area title %}ログイン{% end_area %}

{% _area head_resource %}
{% end_area %}

{% _area page_body %}
<div>
  <h1>ログイン</h1>

  {% if InfoMessage != blank %}
  <p>{{ InfoMessage }}</p>
  {% endif %}

  {% if ErrorMessage != blank %}
  <p>{{ ErrorMessage }}</p>
  {% endif %}

  <form method="post" action="/Training.BBS/Web/w2.BBS.Front/auth/login">
    <div>
      <label for="loginId">ログインID</label>
      <input type="text" id="loginId" name="LoginId" value="{{ LoginId }}" />
    </div>

    <div>
      <label for="password">パスワード</label>
      <input type="password" id="password" name="Password" value="{{ Password }}" />
    </div>

    <div>
      <button type="submit">ログイン</button>
    </div>
  </form>

  <div>
    <a href="/Training.BBS/Web/w2.BBS.Front/auth/register">会員登録はこちら</a>
  </div>
</div>
{% end_area %}

{% _area component %}
{% end_area %}
